{% extends "blog/header.html" %} 

{% block title %}About{% endblock %}

{% block content %}
<div class="panel panel-default" style="min-height:814px">
  <div class="panel-body">
    <div class="site-content"><b>
      <h1>About</h1>
     <p>  <br>Hey there, I'm Varun Sekhar!<br><br>

 I am just a 19 year old young lad who feels curious about the world and want to learn about everything in it.When I was young I was always interested 
 in knowing how things worked, especially inside computers. This curiousity led me to explore the internet and learn about a lot of things.
 When it was time to choose a degree, I wanted to choose something where I could pursue this 
 interest in how things worked inside a computer and I chose Computer Science and Engineering at <a href="http://www.amrita.edu">Amrita
 School of Engineering, Amritapuri</a> where I was lucky enough to experiment with different 
 technologies and was able to create some exciting projects.
 <br><br>
 
 I am also learning speedcubing, currently averaging around 30 seconds. During my free time, I mostly speedcube, play football or play PUBG. I also read
 a lot about Psychology, Technology and Current Affairs. <br><br>
      </p>	

    </div>
  </div>
</div>

{% endblock %}